---
# Only the main Sass file needs front matter (the dashes are enough)
---

// These are a problem I'll have to deal with eventually...
$font-stack-system: sans-serif; 
$all-buttons: bold;
$all-text-inputs: bold;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"bourbon/bourbon",
	"base/base",
	"neat/neat"
;

.outer {
	@include outer-container;
} 

nav, footer {
	@include span-columns(12);
	//@include shift(1);
	border: 1px solid green;
}

nav li {float: right;display: inline;margin-left: 1.2em}

.container {
	@include span-columns(8);
	@include omega();
	//@include shift(1);
	border: 1px solid lightgrey;
}

.aside {
	@include span-columns(4);
	border: 1px solid red;
} 