---
# Only the main Sass file needs front matter (the dashes are enough)
---

// Import partials from `sass_dir` (defaults to `_sass`)
@import
	"bourbon/bourbon",
	"base/base",
	"neat/neat"
;

@import "post-bourbon";

@import "navigation";

$navigation-color: #1565c0;

header.navigation {
	background-color: rgba(255,255,255,1);
	border-bottom: none;
	margin-bottom: 6em;
	ul li.nav-link {background: white;}
	ul li.nav-link a,
	.navigation-menu-button, 
	ul li.nav-link a:hover,
	.navigation-menu-button:hover {
		color: $navigation-color;
	}

	.navigation-wrapper {
		z-index: 1;
	}
	nav {
		float: right;		
	}
	i.material-icons {
		vertical-align: middle;
	}
}

.outer {
	@include outer-container;
	min-height: 100%;
  margin-bottom: -200px;
	section .container {
		margin-bottom: 100px;
	}
} 

.container {
	@include span-columns(12);
	@include media($medium-screen) {
		@include span-columns(8);
		@include shift(2);
	}
}

ul.post-list {
	hr {margin-top: 3.75em}	
	.post-link { font-size: 1.525em}
	.meta,
	.post-meta {
	  width: auto;
	  font-weight: 300;
	  margin: 0;
	  padding: .25em 0;
	  color: #7a7a7a;
	  font-style: italic;
	  opacity: 0.88;
	}	
	.post-summary {
		opacity: 0.88;
		font-size: 1.35em
	}
	li:last-of-type hr {
		visibility: hidden;
	}
}

pre {white-space: pre-wrap;}

.outer:after {content: "";display: block;}

.sticky-footer, .outer:after {
    height: 140px;
    margin-top: 60px;
}

.sticky-footer {
	background: rgba(21, 101, 192, 0.25);
	border-top: 4px solid $navigation-color;
	margin-left: -8px;
	margin-right: -8px;
	footer {
		padding-top: 2em;
		p {
			text-align: center;
			color: $navigation-color;
			i.material-icons {vertical-align: top;}
		}
	}
}