---
layout: default
title: My Home Page
---
<ul class="post-list">
  {% for post in site.posts %}
    <li>
      <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

      <h2>
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title | escape }}</a>
      </h2>
      <p class="post-summary">
        {% if post.summary %}
          {{ post.summary }}
        {% else %}
          {{ post.excerpt | remove: '<p>' | remove: '</p>' }}
        {% endif %}
      </p>
      <hr></hr>
    </li>
  {% endfor %}
</ul>