<header class="navigation" role="banner">
  <div class="navigation-wrapper">
    <a href="/" class="logo">
      <h1>My Logo</h1>
    </a>
    <a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
	    <i class="material-icons">menu</i>
	  </a>
    <nav role="navigation">
      <ul id="js-navigation-menu" class="navigation-menu show">
        <li class="nav-link"><a href="/about">About</a></li>
        <li class="nav-link"><a href="/thanks">Thanks</a></li>
        <li class="nav-link">
        	<a href="javascript:void(0)" onclick="superSearch.toggle()"> 
	        	<i class="material-icons">search</i>
	        </a>
	      </li>
	      <li class="nav-link">
	      	<a href="javascript:void(0)">
		      	<i class="material-icons">menu</i>
		      </a>
	      </li>
      </ul>
    </nav>
  </div>
</header>