@font-face {
  font-family: 'web_emotions';
  src: url('../assets/fonts/font3933-7-4-webfont.woff2') format('woff2'),
       url('../assets/fonts/font3933-7-4-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.font-example {
  margin-top: 1.25em
}

i.emo {
	font-family: 'web_emotions';
	font-style: normal;
	display: inline-block;
	margin-top: -0.5em;
  font-size: 1.25em;
}
i.emo.medium {
	font-size: 2.15em;
}
i.emo.large {
	font-size: 4em;
}
