@font-face {
  font-family: 'web_emotions_37-4';
  src: url('font3933-7-4-webfont.woff2') format('woff2'),
       url('font3933-7-4-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

i.emo {
	font-family: 'web_emotions_37-4';
	font-style: normal;
	display: inline-block;
	font-size: 4em;
	line-height: 0.25em;
	margin-top: -0.5em;
}
