@font-face {
  font-family: 'web-emotions-3';
  src: url('web-emotions-3.eot');
  src: url('web-emotions-3.woff2') format('woff2'),
       url('web-emotions-3.woff') format('woff'),
       url('web-emotions-3.ttf') format('truetype'),
       url('web-emotions-3.svg#web-emotions-3') format('svg'),
       url('web-emotions-3.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

