<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="outer">

			<nav>
	    		<ul>
	        		<li><a class="button" href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>

			<section>
				<div class="container">
				
					{{ content }}
				
					<button href="#">Click Me</button>
				
				</div>
				<!-- /.container -->
			</section>

				<div class="aside" style="background-color: pink">
					HELLO				
				</div>
				<!-- /.container -->

			<footer>
				<a href="/">Home</a>
			</footer>

		</div><!-- /.outer -->

	</body>
</html>