<!DOCTYPE html>
<html>
	<head>
		<title>{{ post.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<div class="outer">
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<section>
				<div class="container">
				
					{{ content }}
				
				</div>
				<!-- /.container -->
			</section>
			<footer>
				<a href="/">Home</a>
			</footer>
		</div><!-- /.outer -->
	</body>
</html>